
.ttop {
    background-color: olive;
    height: 100px;
    width: 100%;
    margin: 0px auto;
    position: relative;
    display: block;
}

.top-menu {
    background-color: orange;
    height: 56px;
}

.ttop-signmenu {
    display: flex;
    align-items: flex-end;
}