

.login {
    color: #333333;
    margin-right: 10px;
    font-weight: 600;
    cursor: pointer;
}

.sign {
    color: #5F0080;
    margin-right: 10px;
    font-weight: 600;
    cursor: pointer;
}

.mainicon {
    margin-right: 20px;
}

.topin2-inner {
    justify-content: space-between;
    width: 1050px;
    height: 56px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}


.tt {
    justify-content: center;
    line-height: 20px;
    text-align: center;
}

input[id="chA"] {
    display: none;
}

.slick-prev {
    left: 55px !important;
    top:150px !important;
    z-index: 1;
}

.slick-slide {
    height: 370px !important;
}

.slick-next {
    right: 155px !important;
}

.slick-next:before {
    display: none !important;
}

.slick-prev:before {
    display: none !important;
}