
.mainTop {
    height: 156px;
    width: 100%;
    box-shadow: 0 3px 4px 0 rgb(0 0 0 / 7%);
}

.top-inner {
    width: 1050px;
    height: 100%;
    margin: 0 auto;
    margin-left: 234.6px;
    margin-right: 234.6px;
    position: relative;
}

.top-in1 {
    height: 100px;
}

.top-in2{
    height: 56px;
}

.top-in11 {
    display: flex;
    justify-content: flex-end;
}

.signbox {
    height: 35px;
    font-size: 11px;
    display: flex;
    align-items: center;
}

.bar {
    margin-right: 10px;
    color: rgb(217, 217, 217);
}

.sign {
    color: #5F0080;
    margin-right: 10px;
    font-weight: 600;
}

.login {
    color: #333333;
    margin-right: 10px;
    font-weight: 600;
}

.client {
    color: #333333;
    margin-right: 5px;
    font-weight: 600;
}

.down {
    width: 8px;
    height: 5px;
}

.top-in12 {
    display: flex;
    flex-direction: row;
    padding-top: 1px;
    height: 63px;
    align-items: center;
    
}

.tin12-l {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: flex-start;
}

.tin12-1c {
    font-weight: 500;
    color: #5f0080;
    margin-left: 20px;
    font-size: 18px;
    margin-right: 7px;
    line-height: 1.33;
    cursor: pointer;
}

.tin12-1r {
    color: #b5b5b5;
    font-weight: 500;
    font-size: 18px;
}

.new {
    margin-bottom: 20px;
    margin-left: 2px;
}

.tin12-c {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    height: 48px;
    padding-left: 14px;
    border: solid 1px #5f0080;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: inset 0 0 0 1px #f7f7f7;
    position: relative;
    left: 50px;
}

.searchinput {
    width: 300px;
    background-color: inherit;
    border: none;
    outline: none;
    font-size: 16px;
    letter-spacing: -0.33px;
}

.tin12-la {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: -25px;
    top: 50px;
}

.mainicon {
    margin-right: 20px;
}

.topin2-inner {
    justify-content: space-between;
    width: 1050px;
    height: 56px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.category {
    display: flex;
    flex-direction: row;
}

.menu-txt {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: #333;
    display: flex;
    align-items: flex-end;
}

.menu {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 20px;
}

.tt {
    justify-content: center;
    width: 150px;
    line-height: 20px;
    text-align: center;
}

.guideline {
    height: 32px;
    padding: 6px 16px;
    border-radius: 18px;
    border: 1px solid #eee;
    color: #666;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.32px;
}

.guidetxt {
    font-weight: 600;
    color: #5f0080;
}

.guidetxt2 {
    font-weight: 200;
    color: #333;
}

