@import './css/main.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap');

body {
    position: absolute;
    top: 0;
    bottom: 0;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

